* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(187, 239, 255);
}

.login {
    display: grid;
    justify-content: center;
    padding-top: 150px;
    text-align: center;

    span {
        font-size: 14px;
    }

    .box {
            background-color: white;
            width: 300px;
            border: 1px solid black;
            border-radius: 5px;
            display: grid;
            justify-content: center;
        }

    form {
        margin-top: 20px;

        input {
            margin: 0;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: right;
            text-align: center;
            font-size: 12px;
            width: 160px;
        }

        button {
            margin: 0;
            width: 100px;
            height: 20px;
            font-size: 12px;
            border-radius: 3px;
        }
    }
    
    button {
        margin: 10px;
        background-color: rgb(254, 249, 88);
        border: 1px solid rgb(135, 135, 135);
    }

    .noAccount {
        font-size: 12px;
        color: rgb(69, 69, 69);
        margin: 10px 0 0 0;
    }

    a {
      text-decoration: none;
      font-size: 13px;  
      margin-bottom: 5px;
      color: rgb(8, 91, 173);
    }

    .signup-redirect:hover {
      cursor: pointer;
    }
}

.signup {
    // background-color: yellow;
    display: grid;
    justify-content: center;
    padding-top: 150px;
    text-align: center;

    span {
        font-size: 14px;
    }

    .box{
        background-color: white;
            width: 300px;
            border: 1px solid black;
            border-radius: 5px;
            display: grid;
            justify-content: center;
    }

    form {
        margin-top: 20%;

        input {
            margin: 0;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: right;
            text-align: center;
            font-size: 12px;
            width: 160px;
        }
    }

    button {
        width: 100px;
        height: 20px;
        font-size: 12px;
        border-radius: 3px;
        margin: 10px;
        background-color: rgb(254, 249, 88);
        border: 1px solid rgb(135, 135, 135);
    }

    .backToLogin {
        width: 150px;
    }
}

.homepage, .searchEntry {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: rgb(187, 239, 255); 

    .font-light-gray {
        color: rgb(90, 88, 88);
        font-size: 13px;
    }

    .main-box {
        background-color: rgb(249, 249, 249);
        border: 1px solid black;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .left-side {
        float: left;
        width: 35%;
        max-width: 60px;
    }

    .right-side {
        justify-self: right;
        width: 20%;
        padding: 20px;
        font-size: 11px;

        .tracker {
            font-size: 10px;
        }

        .yes {
            border: 1px solid rgb(164, 164, 163);
            background-color: rgb(253, 246, 40);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 2px;
            color: rgb(42, 42, 42);
        }
    
        .no {
            border: 1px solid rgb(164, 164, 163);
            background-color: rgb(240, 240, 240);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 2px;
            color: rgb(105, 105, 105);
        }
    }

    .showLast {
        width: 80%;
        text-align: center;
    }

    .main {
        // border: 1px solid red;
        header {
            padding: 100px 50px 50px 50px;
        }
        .textbox { // gotta fix the adjustability of the box; readjusts to anysize
            margin: 20px;
            padding: 5px;
            width: 70%;
            height: 20%;
            max-width: 70%;
            overflow-x: 70%;
            max-height: 500px;
            overflow-y: 500px;
        }
        
        button {
            margin: 10px;
        background-color: rgb(254, 249, 88);
        border: 1px solid rgb(135, 135, 135);
        width: 120px;
            height: 23px;
            font-size: 10px;
            border-radius: 3px;
        }
    }
}