* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(187, 239, 255);
}

.login {
    // background-color: white;
    display: grid;
    justify-content: center;
    text-align: center;

    form {
        margin-top: 20%;
        border: 1px solid blue;

        input {
            margin: 1px 5px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: right;
        }

        button {
            margin: 5px;
            width: 100px;
            height: 20px;
            font-size: 12px;
        }
    }
    
    button {
        margin: 10px;
    }
}

.signup {
    // background-color: yellow;
    display: grid;
    justify-content: center;
    text-align: center;

    form {
        margin-top: 20%;
        border: 1px solid red;

        input {
            margin: 1px 5px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: right;
        }

        button {
            margin: 5px;
            width: 100px;
            height: 20px;
            font-size: 12px;
        }
    }
}