* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(187, 239, 255);
}

.login {
    // background-color: white;
    display: grid;
    justify-content: center;
    text-align: center;

    form {
        margin-top: 20%;
        border: 1px solid blue;

        input {
            margin: 1px 5px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: right;
        }

        button {
            margin: 5px;
            width: 100px;
            height: 20px;
            font-size: 12px;
        }
    }
    
    button {
        margin: 10px;
    }
}

.signup {
    // background-color: yellow;
    display: grid;
    justify-content: center;
    text-align: center;

    form {
        margin-top: 20%;
        border: 1px solid red;

        input {
            margin: 1px 5px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: right;
        }

        button {
            margin: 5px;
            width: 100px;
            height: 20px;
            font-size: 12px;
        }
    }
}

.homepage, .searchEntry {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: center;
    text-align: center;
    height: 100%;

    .left-side {
        background-color: rgb(255, 255, 170);
        float: left;
        width: 35%;
        max-width: 60px;
    }

    .right-side {
        background-color: rgb(255, 255, 170);
        justify-self: right;
        width: 60%;
    }

    .main {
        // border: 1px solid red;
        // display: grid;
        // justify-content: center;
        // align-items: center;
        header {
            padding: 100px 50px 80px 50px;
            border: 1px solid red;
        }
        .textbox { // gotta fix the adjustability of the box; readjusts to anysize
            margin: 20px;
            padding: 5px;
            width: 70%;
            height: 20%;
            max-width: 70%;
            overflow-x: 70%;
            max-height: 500px;
            overflow-y: 500px;
        }
        
        button {
            margin: 5px;
            width: 150px;
            height: 35px;
        }
    }
}